%table{:id=>"jobTable", :class=>"tablesorter"}
  %thead
    %tr
      %th Job
      %th Company
      %th Category
      %th Location
  %tbody
    - jobs = jobs.select {|job| !job.expired?}
    - jobs = jobs.sort {|x,y| x.company.name <=> y.company.name}  
    = render :partial => 'jobs/listing', :collection => jobs