%h2="Listing for #{@job.title}"

%h4 Company
%p= link_to @company.name, @company
%p= @location

%h4 Job Description
%p=@job.description.gsub(/\n/, '<br/>').html_safe

- unless @job.externalLink?
	%h3=link_to "Apply", new_application_path(@job)
- else
	%h3
		Apply at:  
		=link_to @externalLinkDisplay, @externalLinkHREF

- if @ownsJob
	=link_to "Edit This Listing", edit_job_path(@job)
	%br
	=link_to "Back to your Dashboard", companies_path