%h2 Thank you for signing up.  This serivce is only available to StartX companies.

%h2
	If you are a founder who participated in the StartX accelerator, 
	please email
	%a{:href=>"mailto:jhirshman@startx.stanford.edu"}jhirshman@startx.stanford.edu
	with the following information.
	1) Your name and the email adddress that you used to sign up on this website.
	2) The name of your company.
	3) The StartX session in which you participated (approximate dates are fine).