%h3
	You have not yet been registered with a company.  Please email
	%a{:href=>"mailto:jobs@startx.stanford.edu"} jobs@startx.stanford.edu
	with evidence of your affiliation with a StartX company to continue.