- unless @company.logo_url.nil? or @company.logo_url.size == 0
	=image_tag(urlHelp(@company.logo_url), :width => "100") 

%h2= @company.name

%h4 URL:
%p=link_to @company.url, urlHelp(@company.url)

%h4 Industry:
%p=link_to @company.industry.name, @company.industry

%h4 Description:
%p=@company.companyDescription.gsub(/\n/, '<br/>').html_safe

%h4 Job Listings:
= render :partial => 'jobs/jobTable', :locals => {:jobs => @jobs}

