@import "mixins";
@import "foundation/foundation-global";

#message {
	width:100%;
	text-align: center;

	.notice, .alert {
		font-size: 140%;
		width: 100%;
		background-color: $notice-green;
		padding-top: 8px;
		padding-bottom: 8px;
	}
	.alert {
		background-color: $notice-red;
	}
}

#content {
	margin-left: 100px;
	margin-right: 50px;
}

h2 {
	font-weight: normal;
}
h3 {
	font-weight: normal;
	margin-top: 30px;
	margin-bottom: 15px;
}

h4 {
	margin-top: 30px;
	margin-bottom: 5px;
	color: $gray;
	font-weight: normal;
}

p {
	margin-bottom: 10px;
}

a {
	color: $startx-green;
}

a:hover {
	color: black;
}


//forms

textarea {
	height: inherit;
}

input {
	height: inherit;
}

select {
	font-size: emCalc($formInputSize);
}

form {
	width: 80%;
}
label {
	margin-bottom: 10px;
}

.submitLink {
	background-color: transparent;
	text-decoration: none;
	color: $startx-green;
	border: none;
	cursor: pointer;
	font-size: emCalc($h3-size);
	padding: 0;
	margin: 0;
}

.submitLink:hover {
	color: black;
}

//navbar

.top-bar {
	a:hover, li:hover {
		background-color: inherit;
	}

	a {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}

	.left, .right {
		a:hover {
			background-color: $startx-green !important;
		}
	}

	.right {
		a {
			font-size: 15px;

			padding-left: 10px !important;
			padding-right: 10px !important;
			
		}
	}
	

	list-style-type:none;
}

.top-bar ul > li.has-dropdown a:after {
 	border: none;
}

.dropdown > li {
	border: solid white 2px;
	a {
		color: black !important;
	}
}

#startx-top {
	padding-left: 0 !important;
	margin-left: 100px;
	margin-right: 10px;

	font-weight: 800;
	color: black;
}

.green {
	color: $startx-green;
}

//MISC
.moreTopMargin {
	margin-top: 20px;
}