// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "mixins";

table {
	width: 100%;
	border-color: white !important;

	a:hover, li:hover {
		background-color: inherit;
		color: #aaa;
	}

	thead {
		th {
			color: #828282 !important;
			font-weight: normal;
			text-align: left;
		}
	}

	td {

		color: $gray;
		a {
			color: black;
		}
	}
}

.infoData {
	color: black;
}